/* GENERAL */

body{
    font-family: 'Lato', sans-serif;
    padding-bottom: 100px;
}
h1,h3,h4,h5,h6{
    font-weight: bold;
}
img{
    max-width: 100%;
    height: auto;
}
section{
    padding: 45px 0 80px 0;
}
section .heading h2{
    text-transform: uppercase;
}
section .heading{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    text-shadow: 1px 1px 1px #000;
}

.red-divider{
    width:100px;
    height: 2px;
    background: #172358;
    margin: 0 auto;
}

.white-divider{
    width:100px;
    height: 2px;
    background: #fff;
    margin: 0 auto;
}

ul,ol{
    list-style: none;
}

/* About */
#about{
    padding-top: 40px;
    background: #172358;
}
.profile-picture{
    text-align: center;
    margin: 0 auto;
    float: none;
}
#about .heading h1 {
    color:#fff;
    text-transform: uppercase;
    padding-top: 25px;
}

#about .heading h3 {
    color:#000;
    text-shadow: none;
}

.button1{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    display: inline-block;
    margin-top: 20px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
    margin: auto;
}

.button1:hover{
    background: white;
    color: #294e80;
    text-decoration: none;

}

.bouton2{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    display: inline-block;
    margin-top: 20px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
    margin-left : 40%;
}

.bouton2:hover{
    background: white;
    color: #294e80;
    text-decoration: none;
}

/* MENU */
.navbar {
    background-color: #172358;
    font-size: 12px;
    border-bottom: 1px solid #fff;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
}
.nav-pills .nav-link{
    color: #fff !important;
    text-align: center;
}
.nav-pills .nav-link.active,  .nav-pills .nav-link:hover{
    color: #294e80 !important;
    background-color: #fff !important;
}
.navbar-toggler{
    color: #fff !important;
    border-style: none;
}

/* PAGE */
body {
    background-color: #34495e
}

/* A propos */
#apropos{
    background: #fff;
}

#apropos .heading h2{
    color: #294e80;
}

.carousel-control.left, .carousel-control.right{
    background-image: none;
    color: #294e80;
}

.carousel-indicators{
    bottom: 0px;
}
.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid #294e80;
}
.carousel-indicators li.active{
    background-color: #294e80;
}
#myCarousel .carousel-item{
    padding: 40px 30px;
}
#myCarousel .carousel-item h3{
    color: #294e80;
    font-style: italic;
}

/* EXPERIENCE */

#experience{
    background: #294e80;
}

#experience .heading h2{
    color: #fff;
}

.timeline{
    padding: 30px 10px;
    position: relative;
}

.timeline:before{
    top:0;
    bottom:0;
    position: absolute;
    content: " ";
    width: 5px;
    background: #333;
    left: 50%;
    margin-left: -2.5px;
}

.timeline > li{
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:after{
    clear: both;
}

.timeline > li:before, .timeline > li:after{
    content: " ";
    display: table;
}

.timeline li .timeline-badge{
    color: #294e80;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #ddd;
    border-radius: 50%;
}

.timeline-panel-container{
    width: 50%;
    float: left;
}

.timeline-panel-container-inverted{
    width: 50%;
    float: right;
}

.timeline-panel{
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0 0.175);
    background: #fff;
}

.timeline-panel-container-inverted .timeline-panel{
    float: left;
    margin-left: 40px;
}

.timeline-panel:after{
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline-panel-container-inverted .timeline-panel:after{
    border-left-width: 0px;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-heading h3{
    margin-top: 5px;
    font-size: 20px;
}

.timeline-heading h4{
    color: #294e80;
}

/* FORMATION */

#formation{
    background: #172358;
}

#formation .heading h2{
    color: #294e80;

}

.formation-block{
    width: 80%;
    text-align: center;
    padding: 30px;
    background: #ddd;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin: auto;
    margin-top: 20px;
    margin-bottom:  20px;
}

.formation-block h5{
    color: #888;
    font-size: 15px;
}

.formation-block .octicon-mortar-board{
    font-size: 60px;
}

.formation-block h3{
    color: #294e80;
}

.formation-block h4{
    margin-bottom: 20px;
}

.formation-block p{
    font-weight: bold;
}

.formation-block .red-divider{
    margin-bottom: 20px;
}

/* PORTFOLIO */

#portfolio{
    background: #172358;
}

#portfolio{
    color: #fff;
}

#portfolio .thumbnail img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    border: 4px solid #fff;
    border-radius: 4px;
}

#portfolio .thumbnail img:hover{
    filter: none;
    -webkit-filter: none;
}

#portfolio .espace{
    margin-bottom: 20px;
}


/* FOOTER */
footer{
    background: #333;
    padding: 20px 0 40px;
    width: 100%;
    bottom: 0;
    position: fixed;
}
footer .octicon-chevron-up{
    font-size:  25px;
    margin: 20px;
    color: #294e80;
    height: 30px;
}
footer .octicon-chevron-up:hover{
    font-size:  27px;
}
footer h5{
    color: #fff;
    font-weight: normal;
}

input{
    margin-bottom: 10px;
}

